:root{
    --blue:#0064B1;
    --orange:#F58025;
}

body{
    background-color: var(--blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.center{

    margin:20px;
    /* border: 200px; */
    width:50%;
}
.orangebutton{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: var(--orange);
}

.textinput{
    width: 120px;
    height:20px;
    border: 10px;
}


.topmenu{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100vw;
}

.buttonlist{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: right;
    justify-self: right;
}

.studententry{
    background-color: gray;
    width: 350px;
    height:125px;
}
.timelist{
    background-color: gray;
    width: 30vw;
    text-align: center;
    margin:25px;
    border-radius: 5px;
}
.timeelement{
    border:10px;
    margin: 10px;
    background-color: #aaaaaa;
    border-radius:5px;
}